header {
    height: 10vh;
    display: flex;
    align-items: center;
    gap: 5rem;
    background-color: var(--emphasis-color);
    color: var(--emphasis-text-color);
}

.sh-container {
    margin-right: 2rem;
}

.hd-links {
    color: var(--emphasis-text-color);
}

.switch {
    margin-left: auto;
} 