* {
    padding: 0;
    margin: 0;
}
.App {
    border: 1px solid red;
    box-sizing: border-box;
}

.header {
    display: flex;
    gap: 3rem;
    padding: 2rem 1rem 1rem;
    background-color: #5b7a99;
    color: white;
}

.container-pesquisa {
    margin-left: auto;
    position: relative;
}

.nav-item {
    background-color: #5b7a99;
    padding: 1rem;
    color: white;
}

.nav-item:hover {
    background-color: lightblue;
    color: black;
}

.nav-item:link {
    text-decoration: none;
}